<div class="container-fluid py-2">
   <div class="container-fluid bg-white border py-4">
      <div class="row">
         <div class="col-md-12">
            <h5>Edit Termination Note:</h5>
         </div>
      </div>
      <% if @termination_note.errors.full_messages.any? %>
         <% @termination_note.errors.full_messages.each do |error_message| %>
            <%= error_message %> <br />
         <% end %>
      <% end %>
      <br>
      <div class="row">
         <div class="col-md-12">
            <%= render 'form', termination_note: @termination_note %>
         </div>
      </div>
   </div>
</div>
