<h1>Editing Patient Emergency Contact</h1>

<%= render 'form', patient_emergency_contact: @patient_emergency_contact %>

<%= link_to 'Show', @patient_emergency_contact %> |
<%= link_to 'Back', patient_emergency_contacts_path %>
