<div class="container-fluid py-2">
   <div class="container-fluid bg-white border py-4">
      <h5>New Emergency Contact</h5>
      <%= render 'form', patient_emergency_contact: @patient_emergency_contact %>
   </div>
</div>
