<div class="container-fluid py-2">
   <div class="container-fluid bg-white border py-4">
      <div class="row">
         <div class="col-md-12">
            <h5>New Emergency Contact:</h5>
         </div>
      </div>
      <% if @patient_emergency_contact.errors.full_messages.any? %>
         <% @patient_emergency_contact.errors.full_messages.each do |error_message| %>
            <%= error_message %> <br />
         <% end %>
      <% end %>
      <br>
      <div class="row">
         <div class="col-md-12">
            <%= render 'form', patient_emergency_contact: @patient_emergency_contact %>
         </div>
      </div>
   </div>
</div>
