<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>
      <div class="container">
         <h1>Index</h1>
         <a href="/patients" class="btn btn-primary">Patients</a>
         <a href="/patients/new" class="btn btn-primary">New Patient</a>
         <a href="/user_contact_informations/new" class="btn btn-primary"> User Contact Information</a>
         <a href="/users/sign_out" data-method="delete" class="btn btn-primary">Sign Out</a>

      </div>
   </body>
</html>
