<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title></title>
   </head>
   <body>
      <h1>Index</h1>
      <a href="/users/sign_out" data-method="delete">Sign Out</a>
   </body>
</html>
