<%= render 'shared/navbar_signed_in' %>

<div class="container-fluid py-4">
   <div class="row">
      <div class="col-md-6 bg-white border py-4 mx-auto">
         <div class="row">
            <div class="col-md-12 text-center">
               <h4>Edit Contact Information:</h4>
            </div>
         </div>
         <br>
         <div class="row">
            <div class="col-md-12">
               <%= render 'form', user_contact_information: @user_contact_information %>
            </div>
         </div>
      </div>
   </div>
</div>
