<h1>Editing User Contact Information</h1>

<%= render 'form', user_contact_information: @user_contact_information %>

<%= link_to 'Show', @user_contact_information %> |
<%= link_to 'Back', user_contact_informations_path %>
