<%= render "shared/navbar_signed_in"%>

<div class="container py-5">

   <div class="row">
      <div class="col-md-6 border mx-auto bg-white py-4">
         <div class="container-fluid text-center mb-4">
            <h1>Edit</h1>
         </div>
         <%= render 'form', library: @library %>
      </div>
   </div>
</div>
