<div class="container py-5">

   <div class="row">
      <div class="col-md-6 border mx-auto bg-white py-4">
         <div class="container-fluid text-center mb-4">
            <h3>Upload a Patient File</h3>
         </div>
         <%= render 'form', document: @document %>
      </div>
   </div>
</div>
