<%= render "shared/navbar_signed_in"%>

<div class="container-fluid py-2">
   <h3>Create a New Patient</h3>
   <div class="container-fluid bg-white border py-4">
      <%= render 'form', patient: @patient %>
   </div>
</div>
